<h1>
  <strong><%= @poll.title %></strong>
</h1>
<p>
  <%= @poll.description %>
</p>
<h3>
	<strong>Preguntas:</strong>
</h3>
<div>
	<%= form_with(model: @poll, :url => save_answer_poll_path, method: :post) do |form| %>
		<% @poll.questions.each do |question| %>
			<div class="field">
				<p><strong>- <%= question.question %></strong></p>
				<% question.options.each do |option| %>
					<%= radio_button_tag "poll[question#{question.id}]", option.id %> <%= option.option %>
				<% end %>
			</div>
		<% end %>
		<div class="actions">
    		<%= form.submit "Enviar Respuestas" %>
  		</div>
	<% end %>
</div>