<h1>
	<strong><%= @poll.title %></strong>
</h1>
<h3><%= @poll.description %></h3>
<hr>
<div>
	<% @poll.questions.each do |question| %>
		<p>(*) <%= question.question %></p>
		<% question.options.each do |option| %>
			<p>***=>  <%= option.option %>: <%= option.count_responses %> persona/s respondieron esto</p>
		<% end %>
		<hr>
	<% end %>
</div>